
build/              # CMake 构建目录，包含 Makefile、CMakeCache.txt 等
out/                # 其他可能的构建输出目录（视项目配置）

.vscode/

*.o                 # 目标文件（object files）
*.a                 # 静态库
*.so                # 动态库（Linux）
*.dylib             # 动态库（macOS）
*.dll               # 动态库（Windows）
*.exe               # 可执行文件
*.out               # 其他输出文件
